%footer.container-wrapper.footer-wrapper{ role: "contentinfo" }
  .container
    .row
      .col-xxs-12
        %p.copyright © #{copyright_years} #{app_name} · #{link_to "Contact", new_front_contact_path}

