.heading-wrapper.container-wrapper
  .container
    .row
      .col-xxs-12
        %h1.page-heading= @page_heading
#subscription.subscriptions-wrapper.container-wrapper
  .container
    -#.subscription-heading Newsletter #{app_name}
    - if @configuration.newsletter_description.present?
      .subscription-description= @configuration.newsletter_description
    = render "front/subscriptions/form"

