// All configuration stuff
$main-font: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;

$brand-primary:      #ff8a00 !default; // orange
$brand-secondary:    #cf7000 !default; // orange darker
$brand-third:        #f3175d !default; // pink for light texts and borders
$brand-grey:         #f3f0eb !default; // taupe
$brand-header:       #111111 !default; // dark dark

/*
$brand-primary:      #f21862 !default; // pink
$brand-secondary:    #f65e91 !default; // pink
$brand-third:        #f3175d !default; // pink for light texts and borders
$brand-grey:         #f3f0eb !default; // taupe
$brand-footer:       #36373e !default; // gris anthracite
*/

$toggle-menu-breakpoint: 760px;
$toggle-menu-width:      230px;

