// All configuration stuff
$main-font: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;

// Blue
$brand-primary:         #158fe5 !default;
$brand-secondary:       #146ba7 !default;
$brand-third:           #ceebff !default;
$brand-grey:            #f3f0eb !default;
$brand-header:          #111111 !default;

/*
// Orange
$brand-primary:         #ff8a00 !default;
$brand-secondary:       #ed8000 !default;
$brand-third:           #fff4e7 !default;
*/

$toggle-menu-breakpoint: 760px;
$toggle-menu-width:      230px;

