@import "variables";
@import "mixins";


.citation-wrapper {
  background: $brand-grey;
  text-align: center;
  padding-top: 5em;
  padding-bottom: 5em;
}
.citation-content {
  position: relative;
}
.citation-description, .citation-author {
  color: #4d4d4d;
}
.citation-description {
  display: inline-block;
  font-size: em(24px);
  padding: em(10px, 24px) em(40px, 24px);
  line-height: 1.2;
  background: image-url("front/quotes.png") left top no-repeat, image-url("front/quotes1.png") right bottom no-repeat;
  @media screen and (min-width: mem(500px)) {
    font-size: em(36px);
    padding: em(10px, 36px) em(40px, 36px);
  }
}
.citation-author {
  font-size: em(16px);
  margin-top: em(30px, 16px);
}

