@import "variables";
@import "mixins";

.contacts-wrapper {
  padding-top: 1em;
  padding-bottom: 2em;
  .page-heading {
    margin-bottom: 0.5em;
  }
  .form-group-submit {
    text-align: center;
  }
  .contact-footer-info {
    color: #666;
    margin-top: 1em;
  }
}
