@import "variables";
@import "mixins";

.faq-items-wrapper {
  .faq-categories {
    margin-bottom: em(20px);
  }
  .faq-item {
    margin-bottom: em(20px);
    padding: em(20px);
    background-color: #eee;
  }
  .faq-item-question {
    font-weight: bold;
    margin-bottom: 1em;
  }
}

