@import "variables";
@import "mixins";

.footer-wrapper {
  padding-top: 2em;
  border-top: 1px solid #111;
  background-color: $brand-footer;
  color: #111;
  a {
    color: white;
    text-decoration: none;
    &:hover {
      color: $brand-primary;
      text-decoration: underline;
    }
  }
  .social-networks {
    text-align: center;
    margin-bottom: 1em;
  }
  .social-link {
    display: inline-block;
    width: em(36px);
    height: em(36px);
    line-height: em(24px);
    padding: em(6px);
    margin-left: em(5px);
    border-radius: em(18px);
    background-color: #aaa;
    @include transition (all 0.5s ease-in-out);
    @media screen and (min-width: mem(420px)) {
      margin-left: em(14px);
    }
    .social-icon { // instagram
      display: inline-block;
      width: em(24px);
      height: em(24px);
      background: transparent image-url("front/social_networks.png") 0 2px no-repeat;
    }
    &:hover {
      background-color: #3B5998;
    }
    &:first-child {
      margin-left: 0;
    }
  }
  .googleplus {
    &:hover { background-color: #DA4937; }
    .social-icon { background-position: 0  -28px; }
  }
  .pinterest {
    &:hover { background-color: #00CDFF; }
    .social-icon { background-position: 0  -58px; }
  }
  .facebook {
    &:hover { background-color: #0977B5; }
    .social-icon { background-position: 0  -88px; }
  }
  .twitter {
    &:hover { background-color: #00CDFF; }
    .social-icon { background-position: 0 -118px; }
  }
  .linkedin {
    &:hover { background-color: #2e7fb5; }
    .social-icon { background-position: 0 -148px; }
  }
  .viadeo {
    &:hover { background-color: #242424; }
    .social-icon { background-position: 0 -178px; }
  }
  .github {
    &:hover { background-color: #888888; }
    .social-icon { background-position: 0 -208px; }
  }
  .stackoverflow {
    &:hover { background-color: #f37a20; }
    .social-icon { background-position: 0 -238px; }
  }

  .copyright {
    font-size: em(12px);
    text-align: center;
    color: #888;
    a {
      color: #aaa;
      &:hover {
        color: white;
      }
    }
  }
}
