@import "variables";
@import "mixins";

$menu-column-breakpoint: 680px;

.header-wrapper {
  padding-top: 0;
  padding-bottom: 0;
  color: #eee;
  background-color: $brand-header;
  border-bottom: 3px solid $brand-primary;
  text-align: center;
  top: em(-106px);
  @include transition (all 0.4s ease-in-out);
  .container {
    padding-top: em(5px);
    padding-bottom: em(5px);
  }
  .logo {
    position: absolute;
    font-size: em(20px);
    right: em(20px, 20px);
    @media screen and (min-width: mem(420px)) {
      width: em(240px, 20px);
      right: auto;
      left: 50%;
      margin-left: em(-120px, 20px);
      text-align: center;
    }
    @media screen and (min-width: mem($toggle-menu-breakpoint)) {
      width: auto;
      left: auto;
      margin-left: 0;
    }
    .text-wrapper {
      display: block;
      color: #eee;
      height: em(45px, 20px);
      line-height: em(45px, 20px);
      outline: 0;
      @media screen and (min-width: mem(320px)) {
        height: em(45px, 20px);
        line-height: em(45px, 20px);
      }
      &:hover, &:focus, &:active {
        color: $brand-primary;
      }
    }
  }
  .logo-img {
    display: block;
    width: em(146px);
    height: em(45px);
  }
}
.menu-link {
  float: left;
  font-size: em(36px);
  height: 1.25em;
  line-height: 1em;
  color: #ccc;
  text-transform: uppercase;
  padding: 0 em(10px, 36px);
  text-align: center;
  background-color: transparent;
  @media screen and (min-width: mem($toggle-menu-breakpoint)) {
    display: none;
  }
  &:hover, &:active, &:focus {
    color: #eee;
    border-color: $brand-primary;
    background-color: transparent;
  }
}
.menu {
  position: absolute;
  left: em(-$toggle-menu-width);
  top: 0;
  z-index: 9;
  width: em($toggle-menu-width);
  min-height: 100%;
  background-color: $brand-header;
  color: white;
  .text-wrapper {
    display: block;
    padding: 0 2em;
    line-height: em(56px);
    //text-transform: uppercase;
    text-align: left;
    color: white;
    outline: 0;
    @media screen and (min-width: mem($toggle-menu-breakpoint)) {
      line-height: em(45px);
    }
  }
  a.text-wrapper:hover {
    background-color: #333;
    color: white;
  }
  a.text-wrapper:focus {
    text-decoration: none;
  }
/*
  .text-wrapper-contact {
    text-transform: normal;
    .glyphicon {
      margin-left: 0;
      margin-right: em(3px);
    }
  }
*/
  a.active, a.active:hover, a.active:focus, a.active:active {
    color: $brand-primary;
  }
  @media screen and (min-width: mem($toggle-menu-breakpoint)) {
    position: static;
    float: right;
    width: auto;
    background-color: transparent;
    li {
      float: left;
      text-align: center;
    }
    .text-wrapper {
      padding: 0 em(20px);
      text-align: center;
      color: #eee;
      border-radius: em(4px);
    }
    a.text-wrapper:hover {
      color: $brand-primary;
    }
    .text {
      font-size: em(16px);
    }
    .toggle-hide {
      display: none;
    }
    .text-wrapper-contact {
      padding-right: 0 !important;
    }
  }
  @media screen and (min-width: mem(992px)) {
    .text {
      font-size: em(18px);
    }
    .text-wrapper {
      padding: 0 em(30px);
    }
  }
  @media screen and (min-width: mem(1280px)) {
    .text {
      font-size: em(20px);
    }
    .text-wrapper {
      padding: 0 em(40px);
    }
  }
}
.homepage-heading {
  position: absolute;
  font-size: em(14px);
  line-height: em(21px, 14px);
  margin: em(10px) 0 0;
  text-align: left;
  color: #aaa;
}

// FIXED PART
@media screen and (min-width: mem(992px)) {
  .sticky-menu {
    .fixed-header-padder {
      padding-top: em(61px);
    }
    .header-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
      box-shadow: 0 0 5px 0 hsla(0, 0, 0, 0.6);
    }
    .homepage-heading {
      display: none;
    }
  }
}
