@import "variables";
@import "mixins";

@include selection;

@font-face {
  font-family: 'Open Sans';
  src: font-url('opensans/opensans-webfont.eot');
  src: font-url('opensans/opensans-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('opensans/opensans-webfont.woff2') format('woff2'),
       font-url('opensans/opensans-webfont.woff') format('woff'),
       font-url('opensans/opensans-webfont.ttf') format('truetype'),
       font-url('opensans/opensans-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Coustard';
  src: font-url('coustard/coustard-webfont.eot');
  src: font-url('coustard/coustard-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('coustard/coustard-webfont.woff2') format('woff2'),
       font-url('coustard/coustard-webfont.woff') format('woff'),
       font-url('coustard/coustard-webfont.ttf') format('truetype'),
       font-url('coustard/coustard-webfont.svg#coustardregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  color: white;
  background-color: white;
}
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $main-font;
}
li {
  list-style: none;
}
a {
  //color: $brand-primary;
  @include transition (all 0.2s ease-in-out);
}
legend {
  margin-bottom: 0.5em;
}
fieldset {
  margin-bottom: 1em;
}
.page-heading {
  font-size: em(24px);
  margin: 0;
  //margin-bottom: em(30px, 24px);
  @media screen and (min-width: mem(500px)) {
    font-size: em(36px);
    //margin-bottom: em(30px, 36px);
  }
}
h2.heading {
  font-size: em(24px);
  margin: 0 0 1em;
  color: $brand-primary;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #ffc;
}
.btn-primary {
  color: $brand-primary;
  background: transparent;
  border: em(2px) solid $brand-primary;
  font-weight: bold;
  &:hover, &:focus, &:active {
    color: $brand-secondary;
    background: transparent;
    border-color: $brand-secondary;
  }
}
.btn-icon .glyphicon {
  margin-left: 0;
}
.btn-back .glyphicon {
  margin-left: 0;
  margin-right: em(7px);
}
.centered {
  text-align: center;
}
.clear {
  clear: both;
}
.righted {
  text-align: right;
}

.html-text {
  font-size: em(16px);
  p {
    margin-bottom: 1em;
  }
  ul, ol {
    margin-top: -1em;
    margin-bottom: 1em;
  }
  li {
    display: list-item;
    list-style-type: square;
    margin-left: 1em;
  }
  a {
    text-decoration: underline;
  }
  h4, h5, h6 {
    text-transform: uppercase;
  }
}


// Responsive menu
#all {
  width: 100%;
  overflow: hidden;
}
#wrap {
  position: relative;
  left: 0;
  z-index: 10;
  @include transition (all 0.2s ease-in-out);
}
.menu-expanded {
  #wrap {
    left: em($toggle-menu-width);
  }
}

.container-wrapper {
  padding-top: em(30px);
  padding-bottom: em(30px);
}
.container {
  margin: 0 auto;
  //background: #aaf;
  @media screen and (max-width: mem(767px)) {
    // DEV NOTE: not mobile first, because we want to preserve higher breakpoints
    width: 100%; // fluid layout
  }
}
.input-block-level {
  display: block;
  width: 100%;
}

.container-wrapper-flashes {
  padding: 0 0 1em;
  .alert {
    margin-top: 0;
    margin-bottom: 1em;
  }
}

.container-wrapper-breadcrumb {
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
}
.breadcrumb {
  font-size: em(12px);
  padding: 0;
  margin: em(10px) 0;
  background-color: transparent;
  @include ellipsis();
  li {
    text-overflow: no-wrap;
  }
  a {
    color: #b3b3b3;
    &:hover {
      color: $brand-primary;
    }
  }
  .active .divider {
    font-size: 14px;
  }
}

#main {
  position: relative;
  z-index: -1;
  background-color: white;
  color: #111;
}

.html-text {
  font-size: em(16px);
  p {
    margin-bottom: 1em;
  }
  ul, ol {
    margin-top: -1em;
    margin-bottom: 1em;
  }
  li {
    display: list-item;
    list-style-type: square;
    margin-left: 1em;
  }
  a {
    text-decoration: underline;
  }
}

#main table.listing a small {
  display: block;
  font-size: smaller;
  color: #999;
  line-height: 1.5em;
  margin: -1em 0 0.5em;
}

.btn-disabled {
  cursor: not-allowed;
  background: #ddd;
  &:hover, &:focus {
    background: #ddd;
  }
}

.sidebar-list {
  background-color: #f8f8f8;
  padding-top: em(5px);
  padding-bottom: em(5px);
  margin-bottom: 2em;
  border: 1px solid #ddd;
  border-radius: 4px;
  .sidebar-heading {
    font-size: em(18px);
    line-height: 2em;
    color: #888;
    font-weight: bold;
    text-align: center;
  }
  .sidebar-list-item {
    line-height: 1.3em;
    //padding-left: em(30px);
  }
  .sidebar-link {
    display: block;
    font-size: em(16px);
    padding: em(5px, 16px) em(15px, 16px);
  }
}

.heading-wrapper {
  text-align: center;
  padding: 0;
}

.fade-in {
  @include opacity(0);
  @include transition (all 0.5s ease-in-out 0.2s);
  &.in-viewport {
    @include opacity(1);
  }
}

.mfp-title {
  font-size: 18px;
  line-height: 30px;
  padding-right: 0;
  color: white;
  text-align: center;
}
.mfp-counter {
  display: none;
}
.mfp-bottom-bar {
  margin-top: 0;
  top: auto;
  bottom: 40px;
  padding: em(5px) em(10px);
  background: hsla(0, 0, 0, 0.6);
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  @include transition (all 0.3s ease-in-out);
}
.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}
.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
