@import "application";

.on-hold-page {
  color: #444;
  background-color: white; // image-url("front/error_bg.jpg") center top repeat-x;
  padding-top: 100px;
  text-align: center;
  .message {
    margin-left: 400px;
    padding-top: 1em;
    text-align: left;
  }
  p {
    margin-bottom: 1em;
  }
  a {
    text-decoration: underline;
  }
}
