.heading-wrapper.container-wrapper
  .container
    .row
      .col-xxs-12
        %h1.page-heading= @page_heading
    - if @editorial && @editorial.text1.present?
      .row
        .col-xxs-12
          .html-text.projects-intro= @editorial.text1.html_safe
.projects-wrapper.container-wrapper
  .container
    - if @projects.present?
      - cache cache_key_for_list(:projects, @projects), expires_in: 1.day do
        .project-listing.row
          - @projects.each do |project|
            .col-xxs-6.col-xs-4.col-sm-3.col-md-3.project-thumb
              = render "front/projects/thumb", project: project
    - else
      .centered Aucun résultat
