- if @blog_tags.present?
  .sidebar-list.sidebar-blog-tags
    .sidebar-heading Catégories
    %ol.sidebar-list-items
      - @blog_tags.each do |blog_tag|
        %li.sidebar-list-item= link_to blog_tag.name, front_blog_tag_path(blog_tag_id: blog_tag), class: "sidebar-link"
- if @latest_blog_topics.present?
  .sidebar-list.sidebar-latest-blog-topics
    .sidebar-heading Derniers articles
    %ol.sidebar-list-items
      - @latest_blog_topics.each do |blog_topic|
        %li.sidebar-list-item= link_to blog_topic.name, front_blog_topic_path(id: blog_topic), class: "sidebar-link"
